---
import I18nKey from '@i18n/i18nKey'
import { i18n } from '@i18n/translation'
import MainGridLayout from '@layouts/MainGridLayout.astro'

import Education from '@components/sections/Education.astro'
import Experience from '@components/sections/Experience.astro'
import Projects from '@components/sections/Projects.astro'
import Skills from '@components/sections/Skills.astro'
---

<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
	<main class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
		<div class="card-base z-10 px-9 py-6 relative w-full ">
			<Experience/>
			<Projects/>
			<Skills/>
			<Education/>
		</div>
	</main>
</MainGridLayout>

<style>
	@page {
		size: auto;
		margin: 0mm;
	}
	main {
		margin: auto;
		width: 100%;
	}
</style>